In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import mutual_info_regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from hyperopt import hp,fmin,tpe,STATUS_OK,Trials
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [32]:
df = pd.read_csv('C:/Users/91779/Downloads/car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [33]:
df.drop(['Car_Name'],axis = 1,inplace = True)

In [34]:
df['Current_Year'] = 2021

df['Number_Of_Years'] = df['Current_Year'] - df['Year']

df.drop(['Year','Current_Year'],axis = 1,inplace = True)

df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Number_Of_Years
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,7
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,8
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,4
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,10
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,7

In [35]:
df = pd.get_dummies(df,drop_first=True)

In [36]:
df = df.drop('Present_Price',axis=1)
df.head()

,Selling_Price,Kms_Driven,Owner,Number_Of_Years,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,27000,0,7,0,1,0,1
1,4.75,43000,0,8,1,0,0,1
2,7.25,6900,0,4,0,1,0,1
3,2.85,5200,0,10,0,1,0,1
4,4.60,42450,0,7,1,0,0,1

In [37]:

X = df.drop(['Seller_Type_Individual'],axis = 1)
y = df['Seller_Type_Individual']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [38]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression().fit(X_train,y_train)

In [39]:
model.score(X_test,y_test)

0.9672131147540983

In [40]:
import pickle
file = open('regression_rf.pkl','wb')
pickle.dump(model,file)

In [41]:
pickle.load(open('regression_rf.pkl', 'rb'))

LogisticRegression()